<h2>"Meet The Team"</h2>
<p>Team atofeedback for the govhack 2018 competition.</p>
<br>

<div fxLayout="row" fxFlex fxLayoutAlign="start start">
  <div fxLayout="column">
    <div class="card">
      <!-- <img src="/w3images/team1.jpg" alt="Jane" style="width:100%"> -->
      <div class="container">
        <h2>Daniel Sobey</h2>
        <p class="title">Team Leader</p>
        <p>Work in IT. In this project i worked on documentation and ideas.</p>
        <p>dns@dns.id.au</p>

      </div>
    </div>
  </div>

  <div fxLayout="column" fxFlex fxLayoutAlign="start start">
    <div class="card">
      <!-- <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> -->
      <div class="container">
        <h2>Sravan Rayarapu</h2>
        <p class="title">Web Developer</p>
        <p>Architect and designed the applciation</p>
        <p>muni.sravan@gmail.com</p>

      </div>
    </div>
  </div>
  <div fxLayout="column" fxFlex fxLayoutAlign="start start">
    <div class="card">
      <!-- <img src="/w3images/team3.jpg" alt="John" style="width:100%"> -->
      <div class="container">
        <h2>Rodrick</h2>
        <p class="title">Data planner</p>
        <p>Data Explorer</p>
        <p>rodrickgjones@gmail.com</p>

      </div>
    </div>
  </div>
  <div fxLayout="column" fxFlex fxLayoutAlign="start start">
    <div class="card">
      <!-- <img src="/w3images/team3.jpg" alt="John" style="width:100%"> -->
      <div class="container">
        <h2>Nathaniel</h2>
        <p class="title">Video Designer</p>
        <p>I am doing video production and editing in my spare time</p>
        <p>nathaniel@softgrow.com</p>

      </div>
    </div>
  </div>
</div>