<p dir="ltr" style="padding-top : 30px">
    This project contains the source code for team atofeedback for the govhack
    2018 competition.
</p>
<p dir="ltr">
    Govhack page:
    <a href="https://2018.hackerspace.govhack.org/team_management/teams/27">
        https://2018.hackerspace.govhack.org/team_management/teams/27
    </a>
</p>
<p dir="ltr">
    Github entry:
    <a href="https://github.com/munisravan/atofeedback">
        https://github.com/munisravan/atofeedback
    </a>
</p>
<br/>
<br/>
<p dir="ltr">
    We are team atofeedback and for our govhack entry we have developed a
    customer service tool to help the ATO surface information and provide this
    to the customer.
</p>
<p dir="ltr">
    This year are trying to tackle the The Friendly ATO challenge and the
    Bounty: Tax Help Centers.
</p>
<br/>
<p dir="ltr">
    As the information is entered the system starts to build a profile of the
    user and use this to surface questions and answers that similar people have
    asked before .
</p>
<p dir="ltr">
    This will create a predictive list of insights based on previous
    interactions with the ATO.
</p>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Based on the job, age, postcode and other information we can fit
            you in to a profile.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Previous people that fit your profile asked these questions next
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Offer suggested answers.
        </p>
    </li>
</ul>
<br/>
<br/>
<p dir="ltr">
    Positive effects for the community:
</p>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            More efficient use of support worker time, increasing customer
            throughput and satisfaction.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            More interactive, personalized answers to questions will result in
            higher customer satisfaction due to a more organic conversation.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Reduction in return calls due to ‘insights’ surfacing multiple
            questions in the same call.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            The ability to predict what questions the customer may have allows
            the support worker to prepare in advance, providing more accurate
            answers and reducing the amount of time a customer is put on hold.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Data collected from this service can be analyzed to determine what
            information needs to be created or updated, as well as highlight
            areas where additional training or marketing might be useful.
        </p>
    </li>
</ul>
<br/>
<p dir="ltr">
    Information supplied by user and related data:
</p>
<p dir="ltr">
    Occupation
</p>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Occupation type
        </p>
    </li>
</ul>
<p dir="ltr">
    Location/Postcode (Specified or via location services)
</p>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Average salary
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Socioeconomic advantage/disadvantage
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Index of education and occupation
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Index of economic resources
        </p>
    </li>
</ul>
<p dir="ltr">
    Age
</p>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Age range/group
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            There are probably more identifier factors that can be derived from
            the supplied information, but from a quick look at the data and an
            eyeball at what data would be relevant, it’s been limited to these
            few.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            A more thorough investigation by an experienced data analytics
            expert would more accurately identify important data.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            ATO doesn’t currently have any tags/metadata for information, e.g.
            ‘Deductions’, or ‘Low-income’. If they did have this information it
            would be possible to group questions/answers based on the metadata.
        </p>
    </li>
</ul>
<br/>
<p dir="ltr">
    Justification:
</p>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            There are similar existing applications of AI, supplying targeted
            information based on profiling a user, used in advertising. EBay
            and Amazon have targeted advertising and recommended items. Google
            advertising has targeted advertisements. If it’s possible to use
            this technology to supply users with targeted advertisements, we
            can also leverage it to supply users with targeted useful
            information.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Just as targeted advertisement can lead users to products they
            weren’t aware they wanted/needed at that point in time, we can do
            the same with useful information, reducing the amount of return
            calls required and increasing the overall usefulness of each call.
        </p>
    </li>
</ul>