<div style="padding-top: 50px; padding-left: 10px"> Please select the job and posttcode for getting customised questions related to occupation and suburb</div>
<mat-card class="example-card" style="margin-top: 20px">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><strong>ATO Feedback Form</strong></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row">
      <div class="example-container" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field fxFlex style="width: 100%">
            <input matInput placeholder="Age">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">

          <mat-form-field fxFlex style="width: 100%">
            <mat-select placeholder="Job">
              <mat-option *ngFor="let ocupation of occupations" [value]="ocupation">
                {{ocupation}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field fxFlex style="width: 100%">
            <mat-select placeholder="Post code" (selectionChange)="onChange($event)">
              <mat-option *ngFor="let d of data" [value]="d.Postcode">
                {{d.Postcode}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="selectedData" fxLayout="column">
        <div fxLayout="row" fxFlex="30">Income year: {{selectedData.Incomeyear }} </div>
        <div fxLayout="row" fxFlex="30">Taxable income or loss : {{selectedData.Taxableincomeorloss1 || money}} </div>
        <div fxLayout="row" fxFlex="30">Net tax: {{selectedData.Nettax}} </div>
        <div fxLayout="row" fxFlex="30">Gross interest: {{selectedData.Netrent}} </div>
        <div fxLayout="row" fxFlex="30">Net rent: {{selectedData.Incomeyear}} </div>
        <div fxLayout="row" fxFlex="30">Net capital gain: {{selectedData.Netcapitalgain}} </div>
        <div fxLayout="row" fxFlex="30">Total income or loss: {{selectedData.Totalincomeorloss}} </div>
      </div>
    </div>
  </mat-card-content>

</mat-card>


<mat-card *ngIf="selectedData" style="margin-top: 50px">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><strong>Customised questions based on job and postcode (questions for prototype)</strong></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row">
      <div class="example-container" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field fxFlex style="width: 100%">

            <textarea matInput placeholder="Salary and wages"></textarea>

          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">

          <mat-form-field fxFlex style="width: 100%">
            <textarea matInput placeholder="The sharing economy"></textarea>

          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field fxFlex style="width: 100%">
              <textarea matInput placeholder="Lump sum payments"></textarea>

          </mat-form-field>
        </div>
      </div>
     
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button fxLayoutAlign="end end" mat-button color="primary">Submit</button>
  </mat-card-actions>
</mat-card>